### Importação dos dados

In [10]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [17]:
import pandas as pd

# Dados da loja_1

dados = {
    'Produto': ['Assistente virtual', 'Mesa de jantar', 'Jogo de tabuleiro', 'Micro-ondas', 'Cadeira de escritório'],
    'Categoria do Produto': ['eletronicos', 'moveis', 'brinquedos', 'eletrodomesticos', 'moveis'],
    'Preço': [219.08, 256.35, 279.51, 1009.99, 446.99],
    'Frete': [9.24979, 11.234305, 21.262681, 54.667344, 26.964689],
    'Data da Compra': ['16/01/2021', '18/05/2022', '15/03/2021', '03/05/2022', '07/11/2020'],
    'Vendedor': ['Pedro Gomes', 'Beatriz Moraes', 'João Souza', 'João Souza', 'Larissa Alves'],
    'Local da compra': ['SP', 'RJ', 'DF', 'RS', 'MG'],
    'Avaliação da compra': [4, 1, 1, 4, 5],
    'Tipo de pagamento': ['cartao_credito', 'cartao_credito', 'cartao_credito', 'boleto', 'boleto'],
    'Quantidade de parcelas': [8, 4, 1, 1, 1],
    'lat': [-22.19, -22.25, -15.83, -30.17, -18.10],
    'lon': [-48.79, -42.66, -47.86, -53.50, -44.38]
}

# Crie um DataFrame

loja = pd.DataFrame(dados)

# Calcule o faturamento

faturamento = loja['Preço'].sum()

# Imprima o faturamento

print(f'Faturamento da loja_1 R${faturamento:.2f}')

Faturamento da loja_1 R$2211.92

In [53]:
loja2 = pd.read_csv(url2)

loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

In [49]:
# Dados da loja_2

dados = {
    'Produto': ['Cadeira de escritório', 'Pandeiro', 'Cama king', 'Cama king', 'Cadeira de escritório'],
    'Categoria do Produto': ['moveis', 'instrumentos musicais', 'moveis', 'moveis', 'moveis'],
    'Preço': [378.20, 102.37, 591.13, 1208.24, 530.41],
    'Frete': [20.421138, 3.035334, 31.759020, 61.919584, 25.827176],
    'Data da Compra': ['04/08/2021', '26/11/2020', '22/10/2021', '04/05/2022', '26/02/2022'],
    'Vendedor': ['Thiago Silva', 'Bianca Santos', 'Thiago Silva', 'Larissa Alves', 'Lucas Oliveira'],
    'Local da compra': ['MG', 'RJ', 'SC', 'RS', 'SP'],
    'Avaliação da compra': [1, 3, 5, 5, 4],
    'Tipo de pagamento': ['boleto', 'cartao_credito', 'cartao_credito', 'cartao_credito', 'cartao_credito'],
    'Quantidade de parcelas': [1, 4, 10, 10, 3],
    'lat': [-18.10, -22.25, -27.45, -30.17, -22.19],
    'lon': [-44.38, -42.66, -50.95, -53.50, -48.79]
}

# Crie um DataFrame

loja2 = pd.DataFrame(dados)

# Calcule o faturamento
faturamento = loja2['Preço'].sum()

# Imprima o faturamento
print(f'Faturamento da loja_2: R${faturamento:.2f}')

Faturamento da loja_2: R$2810.35

In [41]:
loja3 = pd.read_csv(url3)

loja3.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Secadora de roupas,eletrodomesticos,1713.50,88.823159,17/12/2021,Camila Ribeiro,CE,4,cartao_credito,4,-5.20,-39.53
1,Cômoda,moveis,386.81,18.180908,10/02/2021,Larissa Alves,RS,3,cartao_credito,1,-30.17,-53.50
2,Violão,instrumentos musicais,404.62,23.197592,22/01/2023,Lucas Oliveira,SP,5,cartao_credito,3,-22.19,-48.79
3,Bola de vôlei,esporte e lazer,78.40,4.463341,22/03/2022,Pedro Gomes,BA,4,cartao_credito,6,-13.29,-41.71
4,Guarda roupas,moveis,694.76,34.578319,12/01/2022,Bianca Santos,SP,1,cartao_credito,1,-22.19,-48.79

In [ ]:

# Dados da loja_3

dados = {
    'Produto': ['Secadora de roupas', 'Cômoda', 'Violão', 'Bola de vôlei', 'Guarda roupas'],
    'Categoria do Produto': ['eletrodomesticos', 'moveis', 'instrumentos musicais', 'esporte e lazer', 'moveis'],
    'Preço': [1713.50, 386.81, 404.62, 78.40, 694.76],
    'Frete': [88.823159, 18.180908, 23.197592, 4.463341, 34.578319],
    'Data da Compra': ['17/12/2021', '10/02/2021', '22/01/2023', '22/03/2022', '12/01/2022'],
    'Vendedor': ['Camila Ribeiro', 'Larissa Alves', 'Lucas Oliveira', 'Pedro Gomes', 'Bianca Santos'],
    'Local da compra': ['CE', 'RS', 'SP', 'BA', 'SP'],
    'Avaliação da compra': [4, 3, 5, 4, 1],
    'Tipo de pagamento': ['cartao_credito', 'cartao_credito', 'cartao_credito', 'cartao_credito', 'cartao_credito'],
    'Quantidade de parcelas': [4, 1, 3, 6, 1],
    'lat': [-5.20, -30.17, -22.19, -13.29, -22.19],
    'lon': [-39.53, -53.50, -48.79, -41.71, -48.79]
}

# Crie um DataFrame

loja3 = pd.DataFrame(dados)

# Calcule o faturamento

faturamento = loja3['Preço'].sum()

# Imprima o faturamento
print(f'Faturamento da loja_3: R${faturamento:.2f}')

Faturamento da loja_3: R$3278.09

In [50]:
loja4 = pd.read_csv(url4)

loja4.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Lava louças,eletrodomesticos,1446.46,74.604083,11/11/2022,Rafael Costa,SP,4,cartao_credito,3,-22.19,-48.79
1,Cama box,moveis,631.70,33.919251,03/01/2020,Thiago Silva,GO,5,cartao_credito,2,-15.98,-49.86
2,Bola de basquete,esporte e lazer,31.54,0.000000,25/12/2022,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
3,Modelagem preditiva,livros,76.93,1.680730,23/11/2021,Lucas Oliveira,MG,3,boleto,1,-18.10,-44.38
4,Fone de ouvido,eletronicos,185.14,7.442587,25/04/2022,Bianca Santos,SP,4,cartao_credito,7,-22.19,-48.79

In [51]:
import pandas as pd

# Dados da loja4

dados = {
    'Produto': ['Lava louças', 'Cama box', 'Bola de basquete', 'Modelagem preditiva', 'Fone de ouvido'],
    'Categoria do Produto': ['eletrodomesticos', 'moveis', 'esporte e lazer', 'livros', 'eletronicos'],
    'Preço': [1446.46, 631.70, 31.54, 76.93, 185.14],
    'Frete': [74.604083, 33.919251, 0.000000, 1.680730, 7.442587],
    'Data da Compra': ['11/11/2022', '03/01/2020', '25/12/2022', '23/11/2021', '25/04/2022'],
    'Vendedor': ['Rafael Costa', 'Thiago Silva', 'Larissa Alves', 'Lucas Oliveira', 'Bianca Santos'],
    'Local da compra': ['SP', 'GO', 'MG', 'MG', 'SP'],
    'Avaliação da compra': [4, 5, 5, 3, 4],
    'Tipo de pagamento': ['cartao_credito', 'cartao_credito', 'boleto', 'boleto', 'cartao_credito'],
    'Quantidade de parcelas': [3, 2, 1, 1, 7],
    'lat': [-22.19, -15.98, -18.10, -18.10, -22.19],
    'lon': [-48.79, -49.86, -44.38, -44.38, -48.79]
}

# Crie um DataFrame

loja4 = pd.DataFrame(dados)

# Calcule o faturamento
faturamento = loja4['Preço'].sum()

# Imprima o faturamento
print(f'Faturamento da loja4: R${faturamento:.2f}')

Faturamento da loja4: R$2371.77

# 2. Vendas por Categoria

In [54]:
# Agrupe os dados por categoria e calcule a soma dos preços

vendas_por_categoria = loja.groupby('Categoria do Produto')['Preço'].sum().reset_index()

# Imprima as vendas por categoria

print(vendas_por_categoria)

    Categoria do Produto    Preço
0  instrumentos musicais   102.37
1                 moveis  2707.98

In [56]:
vendas_por_categoria = loja2.groupby('Categoria do Produto')['Preço'].sum().reset_index()

# Imprima as vendas por categoria

print(vendas_por_categoria)

    Categoria do Produto      Preço
0             brinquedos   21262.21
1       eletrodomesticos  464758.13
2            eletronicos  547773.71
3        esporte e lazer   46326.09
4  instrumentos musicais  139987.03
5                 livros   13454.35
6                 moveis  235234.68
7  utilidades domesticas   19662.86

In [57]:
vendas_por_categoria = loja3.groupby('Categoria do Produto')['Preço'].sum().reset_index()

# Imprima as vendas por categoria

print(vendas_por_categoria)

    Categoria do Produto    Preço
0       eletrodomesticos  1713.50
1        esporte e lazer    78.40
2  instrumentos musicais   404.62
3                 moveis  1081.57

In [58]:
vendas_por_categoria = loja4.groupby('Categoria do Produto')['Preço'].sum().reset_index()

# Imprima as vendas por categoria

print(vendas_por_categoria)

  Categoria do Produto    Preço
0     eletrodomesticos  1446.46
1          eletronicos   185.14
2      esporte e lazer    31.54
3               livros    76.93
4               moveis   631.70

# 3. Média de Avaliação das Lojas

In [59]:
# Calcule a média de avaliação

media_avaliacao = loja['Avaliação da compra'].mean()

# Imprima a média de avaliação

print(f'Média de avaliação: {media_avaliacao:.2f}')

Média de avaliação: 3.60

In [60]:
# Calcule a média de avaliação

media_avaliacao = loja2['Avaliação da compra'].mean()

# Imprima a média de avaliação
print(f'Média de avaliação: {media_avaliacao:.2f}')

Média de avaliação: 4.04

In [61]:
# Calcule a média de avaliação

media_avaliacao = loja3['Avaliação da compra'].mean()

# Imprima a média de avaliação

print(f'Média de avaliação: {media_avaliacao:.2f}')

Média de avaliação: 3.40

In [62]:
# Calcule a média de avaliação

media_avaliacao = loja4['Avaliação da compra'].mean()

# Imprima a média de avaliação
print(f'Média de avaliação: {media_avaliacao:.2f}')

Média de avaliação: 4.20

# 4. Produtos Mais e Menos Vendidos

In [63]:
# Calcule o produto mais vendido

produto_mais_vendido = loja['Produto'].value_counts().idxmax()

# Imprima o produto mais vendido
print(f'Produto mais vendido: {produto_mais_vendido}')

Produto mais vendido: Cadeira de escritório

In [64]:
# Calcule o produto mais vendido

produto_mais_vendido = loja2['Produto'].value_counts().idxmax()

# Imprima o produto mais vendido
print(f'Produto mais vendido: {produto_mais_vendido}')

Produto mais vendido: Iniciando em programação

In [65]:
# Calcule o produto mais vendido

produto_mais_vendido = loja3['Produto'].value_counts().idxmax()

# Imprima o produto mais vendido
print(f'Produto mais vendido: {produto_mais_vendido}')

Produto mais vendido: Secadora de roupas

In [66]:
# Calcule o produto mais vendido

produto_mais_vendido = loja4['Produto'].value_counts().idxmax()

# Imprima o produto mais vendido
print(f'Produto mais vendido: {produto_mais_vendido}')

Produto mais vendido: Lava louças

# 5. Frete Médio por Loja

In [68]:
# Calcule o frete médio por loja e categoria

frete_medio_loja_categoria = loja.groupby(['Local da compra', 'Categoria do Produto'])['Frete'].mean().reset_index()

# Imprima o frete médio por loja e categoria

print(frete_medio_loja_categoria)

  Local da compra   Categoria do Produto      Frete
0              MG                 moveis  20.421138
1              RJ  instrumentos musicais   3.035334
2              RS                 moveis  61.919584
3              SC                 moveis  31.759020
4              SP                 moveis  25.827176

In [69]:
# Calcule o frete médio por loja e categoria

frete_medio_loja_categoria = loja2.groupby(['Local da compra', 'Categoria do Produto'])['Frete'].mean().reset_index()

# Imprima o frete médio por loja e categoria
print(frete_medio_loja_categoria)

    Local da compra   Categoria do Produto       Frete
0                AC            eletronicos    3.438413
1                AL       eletrodomesticos   43.576528
2                AL            eletronicos   25.428902
3                AL        esporte e lazer    1.269802
4                AL  instrumentos musicais   37.295247
..              ...                    ...         ...
161              SP  utilidades domesticas    6.159257
162              TO       eletrodomesticos  110.573490
163              TO        esporte e lazer   24.239951
164              TO  instrumentos musicais   33.015851
165              TO                 moveis   30.682291

[166 rows x 3 columns]

In [70]:
# Calcule o frete médio por loja e categoria

frete_medio_loja_categoria = loja3.groupby(['Local da compra', 'Categoria do Produto'])['Frete'].mean().reset_index()

# Imprima o frete médio por loja e categoria
print(frete_medio_loja_categoria)

  Local da compra   Categoria do Produto      Frete
0              BA        esporte e lazer   4.463341
1              CE       eletrodomesticos  88.823159
2              RS                 moveis  18.180908
3              SP  instrumentos musicais  23.197592
4              SP                 moveis  34.578319

In [71]:
# Calcule o frete médio por loja e categoria

frete_medio_loja_categoria = loja4.groupby(['Local da compra', 'Categoria do Produto'])['Frete'].mean().reset_index()

# Imprima o frete médio por loja e categoria
print(frete_medio_loja_categoria)

  Local da compra Categoria do Produto      Frete
0              GO               moveis  33.919251
1              MG      esporte e lazer   0.000000
2              MG               livros   1.680730
3              SP     eletrodomesticos  74.604083
4              SP          eletronicos   7.442587